body {
    background-image: url("../resurser/cool-background.png")!important;
    line-height: var(--bs-body-line-height);
}

h2 {
    margin: 5%;
}

.button {
    background-color:#2F89FC;
    border-radius: 10px;
    border: #40514E solid 2px;
    margin:10%;
    padding: 30px 70px;
    font-size: xx-large;
    
}
.button:hover {
    background-color:#40514E;
    color: white;
    border: 0;
    box-shadow: #40514E 1px 1px 10px;
}

.right {
    position: absolute;
    right: 0;
}

.big-button {
    display:flex;
    flex-direction: row;
    align-items:stretch;
}

.btn {
    text-align:center;
    width:96%;
    margin: 2%;
    font-size: x-large!important;
    padding: 10%!important;
}

img {
    margin: 10px;
}

.title {
    margin: 50px
}

.navbar {
    padding: 0px!important;
    background-color: #30E3CA;
    border-radius: 0px;
    border: 0px;

}

.navbar-brand {
    color: #40514E;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 30px;
}

.nav-link {
    margin: 0;
    padding: 20px 30px!important;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    color: #40514E;
    background-color: #2F89FC;
    text-decoration: none!important;

}

.nav-link:active {
    background-color: #40514E;
}

a {
    text-decoration: underline;
}

.box {
    padding: 50px 10%;
}

.gray{
    color:F5F5F5;
    background-color: #2F89FC;
}

.active .nav-link {
    border: solid #40514E 5px;
    padding: 15px 30px!important;
}

.video-js {
    margin: 5%;
    width: 90%;
    height: 80%;
}